body {
    background-color: #000000;
}

h1 {
    color: #f6f6f6;
}
h2 {
    color: #f6f6f6;
}
strong {
    color: #2a81de;
}
button {
    background-color: green;
    color: white;

}
header {
    background-color: lightblue;
    color: white;

}
p {

    color: darkgray;

}
footer {
    background-color: gray;
    color: white;

}
a {
    color: DodgerBlue;

}
